body {
    font-size: 15px;
    font-family: monospace;
    background-color: #F0FAF0;
    color: #086D7C;
}

#container {
    background-color: #97C2B9;
    width: 65%;
    margin: 3% auto;
    padding: 7%;
    text-align: center;
}

#langChanger {
    margin-top: -8%;
    margin-left: 72%;
    padding-left: 145px;
}

.flag {
    height: 50px;
}

form {
    font-size: 1.5em;
    margin-bottom: 3%;
}

h1 {
    font-size: 2.5em;
}

p {
    margin-bottom: 5%;
}

.divAnswer{
    font-size: 2em;
    color: #bb7e72;
}

.scrambled, input, button {
    color: #987A3F;
    font-family: monospace;
    font-size: 2em;
}

label {
    margin-bottom: 15%;
}

button {
    background-color: #F0FAF0;
    margin-top: 2%;
}

input {
    background-color: #F0FAF0;
    color: #086D7C;
}

.flagHidden{
    visibility: hidden;
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}